#icon{
  margin-right: 30px;
}

.form-bg{
  background-image: url('https://t4.ftcdn.net/jpg/04/55/43/29/360_F_455432971_UikdWVsLVVPRjoUAL4JfKkSKfUybQb6V.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

.home-bg{
  background-image: url('https://t4.ftcdn.net/jpg/04/55/43/29/360_F_455432971_UikdWVsLVVPRjoUAL4JfKkSKfUybQb6V.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.login-bg{
  background-image: url('https://t4.ftcdn.net/jpg/04/55/43/29/360_F_455432971_UikdWVsLVVPRjoUAL4JfKkSKfUybQb6V.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card{
  background-image: url('https://t4.ftcdn.net/jpg/04/55/43/29/360_F_455432971_UikdWVsLVVPRjoUAL4JfKkSKfUybQb6V.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

table{
  text-align:left;
  margin-left:35%;
  border-spacing:10px;
  border-width:10%;
  
  

}
td{
  border-style:ridge;
  padding:10px;
}



/* .navbar{
  background: radial-gradient(401px at 50.6% -0.3%, rgba(255, 255, 255, 0.31) 1.2%, rgb(85, 194, 13) 100.2%);
} */